<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Material+Icons' rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Route 62 Rally | Our 14th Anniversary Rally weekend</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag :application %>
    <%= stylesheet_link_tag :application %>
  </head>

  <body><%= yield %></body>
</html>
